* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222222;
    font-family: Verdana, Arial, sans-serif;
}
html {
    /*style*/
    background: linear-gradient(183deg, #003049 20em, #669BBC 1em) no-repeat, #669BBC;
    background-size: cover;
    /*position*/
    height:100%;
    /*text*/
    font-family: Verdana, Arial, sans-serif;
}
body {
    display: flex;
    flex-shrink: 1;
}
#main-content-container {
    width: 300mm;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-shrink: 1;
}

header {
    /*position*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5em;
    padding: .5em;
    /*style*/
    background-color: #003049;
    img{
        /*box*/
        width: auto;
        height: 3em;
        flex-basis: 3em;
    }
    a{
        /*position*/
        display: flex;
        /*text*/
        font-weight: bold;
        font-size: 1.5em;
        color: #f0f8ff;
        text-decoration: none
    }
    a:hover, a:active{
        text-decoration-line: underline;
    }
}

article{
    background-color: #FDF0D5;
    border-radius: 8px;
    margin: .5rem;
    padding: 1rem;
    /*apply a separation line between elements for style*/
    > div:not(:last-child):not(.reaction){
        /*style*/
        border-bottom-style: solid;
        border-bottom-color: #780000;
        border-bottom-width: 2px;
    }
    .info {
        /*position*/
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        gap: .5em;
        align-items: center;
        /*!*style*!*/
        /*border-bottom-style: solid;*/
        /*border-bottom-color: #780000;*/
        /*border-bottom-width: 2px;*/
        img{
            height: 3.5rem;
            width: auto;
            border-radius: 10%;
        }
        ul {
            /*text*/
            font-weight: bold;
            display: block;
            padding: .5rem;
            text-decoration: none;
            list-style-type: none;
        }
    }
    .content {
        /*!*style*!*/
        /*border-bottom-style: solid;*/
        /*border-bottom-color: #780000;*/
        /*border-bottom-width: 2px;*/
        p {
            text-wrap: auto;
            text-align: justify;
            text-justify: inter-word;
            margin: .5em 0;
        }
        h1 {
            word-wrap: break-word;
            text-wrap: auto;
            font-weight: bold;
            font-size: 1.5em;
            margin: .5em 0;
        }
    }

    .reaction {
        /*TODO: likes, dislike, share*/
        margin: .5em 0;
    }
    .commentaire-textarea {
        display: grid;
    }
    .commentaire-textarea::after{
        /*auto-resize (not my code) -> https://codepen.io/chriscoyier/pen/XWKEVLy*/
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }
    .commentaire-textarea > textarea {
        /*auto-resize (not my code) -> https://codepen.io/chriscoyier/pen/XWKEVLy*/
        resize: none;
        overflow: hidden;
    }
    .commentaire-textarea::after, .commentaire-textarea > textarea{
        /*style*/
        background-color: transparent;
        border-style: solid;
        border-width: 2px;
        border-color: #780000;
        /*auto-resize (not my code) -> https://codepen.io/chriscoyier/pen/XWKEVLy*/
        grid-area: 1 / 1 / 2 / 2;
    }
    .textarea:focus, .commentaire-textarea:focus{
        border-width: 4px;
        background-color: blue;
    }
}