* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222222;
    font-family: Verdana, Arial, sans-serif;
    :link {
        text-decoration: none
    }
}

html {
    /*style*/
    background: linear-gradient(183deg, #003049 20em, #669BBC 0) no-repeat, #669BBC;
    background-size: cover;
}

body {
    display: flex;
    flex-shrink: 1;
}

#main-content-container {
    width: 300mm;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-shrink: 1;
}
@media (max-width:960px) {
    #main-content-container {
        width: 100%;
    }
}

header {
    /*position*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5em;
    padding: .5em;
    /*style*/
    background-color: #003049;
    img{
        /*box*/
        width: auto;
        height: 3em;
        flex-basis: 3em;
    }
    a{
        /*position*/
        display: flex;
        /*text*/
        font-weight: bold;
        font-size: 1.5em;
        color: #f0f8ff;
        text-decoration: none
    }
    a:hover, a:active{
        text-decoration-line: underline;
    }
}

article{
    background-color: #FDF0D5;
    box-shadow: 0 4px 16px 0 #780000;
    border-radius: 8px;
    margin: .5em;
    padding: 1em;
    /*separation entre chaque elements*/
    > div:not(:last-child):not(.reaction){
        /*style*/
        border-bottom-style: solid;
        border-bottom-color: #780000;
        border-bottom-width: 3px;
    }
    .info {
        /*position*/
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        gap: .5em;
        align-items: center;
        img{
            height: 3.5rem;
            width: auto;
            border-radius: 10%;
        }
        ul {
            /*text*/
            font-weight: bold;
            display: block;
            padding: .5em;
            text-decoration: none;
            list-style-type: none;
        }
        li {
            flex-shrink: 1;
        }
    }
    .content {
        pre {
            text-wrap: auto;
            text-align: justify;
            text-justify: inter-word;
            margin: .5em 0;
            white-space: pre-line;
        }
        h1 {

            text-wrap: auto;
            font-weight: bold;
            font-size: 1.5em;
            margin: .5em 0;
        }
    }

    .comment-textarea {
        .grow-wrap {
            display: grid;
            position: relative;
        }
        .grow-wrap::after {
            content: attr(data-replicated-value) " ";
            white-space: pre-wrap;
            visibility: hidden;
        }
        .grow-wrap > textarea {
            resize: none;
            overflow: hidden;
        }
        .grow-wrap > textarea,
        .grow-wrap::after {
            border: solid #780000;
            border-width: 0 3px 0 3px;
            padding: 0.5rem;
            font: inherit;
            grid-area: 1 / 1 / 2 / 2;
        }
        .grow-wrap > textarea:focus {
            outline: #C1121F solid 3px;
            border: none;
            margin: 0 3px 0 3px;
        }
        button {
            /*position*/
            text-align: center;
            display: flow;
            position: absolute;
            bottom: 0;
            right: 0;
            /*style*/
            border: #780000 solid 3px;
            border-bottom: none;
            padding: .2em .8em .2em .8em;
        }
    }
    .comment-output {
        display: flex;
        list-style: none;
        margin: .5em 1em 0 1em;
        ul{
            list-style-type: none;
        }
        li {
            margin: 0 0 .5em 0;
        }
        pre {
            text-wrap: auto;
            text-align: justify;
            text-justify: inter-word;

            white-space: pre-line;
        }


    }
}






















